body {
    background: #c3c3b7;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
}
header {
  text-align: left;
    justify-content: left;
    padding-left: 0%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
    display:block;
    text-align: center;
    width:40vw;
    white-space: nowrap;   /* Prevents text from wrapping */
    overflow: hidden;      /* Hides overflow if text is too long */
    text-overflow: ellipsis; /* Adds "..." if text overflows */
}

p::first-letter {
font-family: "sloop-script-one", sans-serif;
font-weight: 500;
font-style: normal;
color: #736357;
float: auto;
font-size: 50pt;
margin-right: 8;
line-height: 0;
}

p {
    color:#736357;
    font-family: Baskerville;
    font-weight: 6;
    font-size: 18pt;
}

h1::first-letter {
font-family: "sloop-script-one", sans-serif;
font-weight: 500;
font-style: auto;
color: #736357;
float: auto;
font-size: 74pt;
margin-right: 1;
line-height: 1;
}
h1, h2 {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

h1 {
    font-family: Baskerville;
    font-style: italic;
font-weight: 400;
font-style: italic;
color: #736357;
}

h2 {
    font-family: Baskerville;
    font-style: italic;
    font-size: 18pt;
font-weight: 400;
font-style: italic;
color: #736357;
}

a {
font-family: Baskerville;
font-size: 12pt;
text-decoration: none;
}

.dropdown {
  position: auto;
  margin-left: 3pt;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #c3c3b700;
color: #736357;
font-family: Baskerville;
font-style: italic;
font-weight: 0;
  padding: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-left: 3pt;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  font-family: Baskerville;
  font-size: 12pt;
  font-style: italic;
  color: #736357;
  min-width: 200px;
}

/* Links inside dropdown content */
.dropdown-content a {
color: #736357;
  padding: 6px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #d0d4d0;
}

a:visited {
    color:rgb(117, 56, 56);
    text-decoration: none;

}

a:hover {
    color:rgb(222, 221, 209);
    font-weight: 700;

}
.grid {
  position:relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.response {
    border: 2px solid hotpink;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    width: 200px;
}
.container {
  position: center;
  content: width 1800px, height 900px;
  display: flex;
}

.container div {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 30px;
}

.body-text {
Display: block;
Margin: auto;
Width: 60vw;
}


